<div id="<%= dom_id cash_transaction %>">
  <p>
    <strong>Desc transaction:</strong>
    <%= cash_transaction.desc_transaction %>
  </p>

  <p>
    <strong>Valor transaction:</strong>
    <%= cash_transaction.value_transaction %>
  </p>

  <p>
    <strong>Data transection:</strong>
    <%= cash_transaction.date_transaction %>
  </p>

  <p>
    <strong>Fund:</strong>
    <%= cash_transaction.fund_id %>
  </p>

</div>
