<div id="<%= dom_id securitys_transaction %>">
  <p>
    <strong>Desc transaction:</strong>
    <%= securitys_transaction.desc_transaction %>
  </p>

  <p>
    <strong>Value transaction:</strong>
    <%= securitys_transaction.value_transaction %>
  </p>

  <p>
    <strong>Date transaction:</strong>
    <%= securitys_transaction.date_transaction %>
  </p>

  <p>
    <strong>Fund:</strong>
    <%= securitys_transaction.fund_id %>
  </p>

  <p>
    <strong>Security:</strong>
    <%= securitys_transaction.security_id %>
  </p>

</div>
